apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml
- ingress.yaml

images:
- name: ghcr.io/Johanson1988/devops-agent-r2d2
  newName: ghcr.io/Johanson1988/devops-agent-r2d2
  newTag: sha-8e043be
- name: ghcr.io/johanson1988/devops-agent-r2d2
  newTag: sha-0000000
