apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- rbac.yaml
- deployment.yaml
- service.yaml
- ingress.yaml

images:
- name: ghcr.io/johanson1988/devops-agent-r2d2
  newName: ghcr.io/johanson1988/devops-agent-r2d2
  newTag: sha-c73afd5
